body {
	background: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'HiraKakuPro-W3', 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, '游ゴシック', YuGothic, 'ＭＳ Ｐゴシック', 'MS PGothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
	height: 100%;
	overflow:hidden;
}
.tooltip {
	white-space: nowrap;
}
.container-fluid > div {
	height: 100%;
	position:fixed;
	top:0;
	z-index:20;
}
.sidebar {
	left: 0;
	width: 250px;
	position: relative;
	-webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
.main {
	left:0;
	padding-left: 250px;
	padding-right: 315px;
	width: 100%;
	z-index: 19;
}
.ad {
	right:	0;
	width:	315px;
}
.sidebar, .sidebar .expand, .ad {
	background-color: #464646;
}

/* Sidebar */
.sidebar .panel, .sidebar .panel .panel-heading {
	background:	none;
	border:none;
	box-shadow: none;
}
.sidebar .panel .panel-heading {
	color: #fff;
	font-size: 20px;
}
.sidebar .panel .panel-body {
	padding: 0;
}
.sidebar .list-group-item {
	border-radius: 0;
	text-align: left;
}
.sidebar .options button {
	color: #fff;
	outline: 0 !important;
}
.sidebar #easy {
	background-color: #5dc0de;
	border-color: #46b8da;
}
.sidebar #easy:hover, .sidebar #easy:active, .sidebar #easy:focus, .sidebar #easy.active {
	background-color: #31b0d5;
	border-color: #269abc;
}
.sidebar #medium {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.sidebar #medium:hover, .sidebar #medium:active, .sidebar #medium:focus, .sidebar #medium.active {
	background-color: #ec971f;
	border-color: #d58512;
}
.sidebar #hard {
	background-color: #d9534f;
	border-color: #d43f3a;
}
.sidebar #hard:hover, .sidebar #hard:active, .sidebar #hard:focus, .sidebar #hard.active {
	background-color: #c9302c;
	border-color: #ac2925;
}
.sidebar #expert {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.sidebar #expert:hover, .sidebar #expert:active, .sidebar #expert:focus, .sidebar #expert.active {
	background-color: #449d44;
	border-color: #398439;
}
.sidebar .settings .checkbox:first-child {
	margin-top: 0;
}
.sidebar .share {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.sidebar .share {
	margin-bottom: 0;
}
.sidebar .row {
	margin: 0;
}
.sidebar .social {
	cursor: pointer;
	opacity: .95;
	padding: 10px 15px;
}
.sidebar .social:hover {
	opacity: 1;
}
.sidebar .twitter {
	background-color: #5aa8df;
}
.sidebar .google-plus {
	background-color: #df4a33;
}
.sidebar .github {
	background-color: #111111;
}
.sidebar .expand, .sidebar .expand span {
	position: absolute;
	width: 50px;
}
.sidebar .expand {
	cursor: pointer;
	display: none;
	height: 100%;
	right: -50px;
	top: 0;
}
.sidebar .expand:hover span {
	color: #fff;
}
.sidebar .expand span {
	color: #ddd;
	font-size: 25px;
	left: 0;
	margin-top: -15px;
	top: 50%;
}



/* .main */
.main .progress {
	background-color: rgba(0,0,0,.1);
	border-radius: 0;
}
.main .heading {
	font-weight: 800;
	margin: 0 0 50px;
}
.main .difficulty {
	color: #fff;
	text-align: left;
}
.main .site-name {
	color: #fff;
	font-size: 30px;
	text-shadow: 0 1px 0 #ccc,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}
.main .round {
	color: #ffeb3b;
	text-align: right;
}
.main .difficulty, .main .round {
	font-size: 20px;
}
.main .heading div > span {
	background: rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.01);
	padding: 10px;
}
.main .interactive .start {
	border: 2px solid rgba(70,70,70,.3);
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 50px;
	padding: 6px 36px;
}
.main .panel {
	border: none;
	border-radius: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.main .panel .panel-heading {
	background-color: #464646;
	border-radius: 0;
	color: #fff;
	font-size: 18px;
}
.main .panel input, .main .panel button {
	border-radius: 0;
}
.main .answer {
	box-shadow: none;
}
.main .answer .panel-heading {
	background-color: #464646;	/* change this color based on if correct answer */
	border: 3px solid #464646;
}
.main .answer .panel-body, .main .about {
	background-color: #464646;
	color: #fff;
	overflow: hidden;
}

.main .about {
	border-radius: 5px;
	box-shadow: none;
}
.main .about .panel-body {
	padding: 30px;
}


/* hidden by default */
.main .hiragana, .main .romaji, .main .typing, .main .answer, .main .answer .panel-body {
	display: none;
}



/* media queries */

/* width */

@media (max-width: 1250px) {
	.main .difficulty, .main .round {
		font-size: 17px;
	}
	.main .site-name {
		font-size: 25px;
	}
}
@media (max-width: 1150px) {
	.main .difficulty, .main .round {
		font-size: 16px;
	}
	.main .heading div > span {
		padding: 8px;
	}
	.main .site-name {
		font-size: 23px;
	}
}
@media (max-width: 1110px) {
	.sidebar {
		width: 225px;
	}
	.main {
		padding-left: 225px;
	}
}
@media (max-width: 1080px) {
	.sidebar {
		width: 200px;
	}
	.main {
		padding-left: 200px;
	}
}
@media (max-width: 1250px) {
	.ad {
		width: 175px;
	}
	.main {
		padding-right: 175px;
	}
}
@media (max-width: 920px) {
	.sidebar.expanded {
		min-width: 250px !important;
	}
	.sidebar.collapsed {
		left: -200px;
	}
	.sidebar .expand {
		display: block;
	}
	.main {
		padding-left: 50px;
	}
}
@media (max-width: 770px) {
	.ad {
		display: none;
	}
	.main {
		padding-right: 0;
	}
}
@media (max-width: 600px) {
	.interactive .focus {
		width: 70%;
	}
	.interactive .spacer {
		width: 15%;
	}
}
@media (max-width: 595px) {
	.main .heading {
		position: relative;
	}
	.main .difficulty, .main .round {
		position: absolute;
		top: 0;
		width: auto;
	}
	.main .round {
		right: 0;
	}
	.main .difficulty {
		left: 0;
	}
	.main .site-name {
		width: 100%;
	}
}
@media (max-width: 550px) {
	.main .difficulty, .main .round {
		top: -18px;
	}
	.main .difficulty {
		left: -15px;
	}
	.main .round {
		right: -15px;
	}
	.main .heading div > span {
		padding: 3px 8px;
	}
}
@media (max-width: 600px) {
	.interactive .focus {
		width: 80%;
	}
	.interactive .spacer {
		width: 10%;
	}
}
@media (max-width: 370px) {
	.main .site-name {
		font-size: 20px;
	}
}


/* height */
@media (max-height: 510px) {
	.main .heading, .main .interactive .start {
		margin-bottom: 30px;
	}
	.main .interactive .start {
		font-size: 16px;
		padding: 5px 24px;
	}
	.main .panel > div {
		padding: 10px;
	}
	.main .panel .panel-heading {
		font-size: 16px;
		padding: 8px 10px;
	}
}
@media (max-height: 500px) {
	.sidebar .share .panel-heading {
		display: none;
	}
}
@media (max-height: 450px) {
	.sidebar .share {
		display: none
	}
}
@media (max-height: 425px) {
	.main .heading, .main .interactive .start {
		margin-bottom: 20px;
	}
	.main .answer .panel-body {
		padding: 5px;
	}
	.main .answer p {
		margin-bottom: 5px;
	}
}
@media (max-height: 385px) {
	.sidebar .difficulty {
		margin-bottom: 0;
	}
	.main .heading, .main .interactive .start {
		margin-bottom: 15px;
	}
	.main .interactive .start {
		font-size: 14px;
		padding: 4px 12px;
	}
	.main .typing .panel-body {
		padding: 5px;
	}
	.main .panel .panel-heading {
		font-size: 16px;
		padding: 8px 10px;
	}
}
@media (max-height: 370px) {
	.sidebar .panel .panel-heading {
		font-size: 18px;
		padding: 8px 15px;
	}
	.sidebar .options {
		margin-bottom: 5px;
	}
	.main .heading, .main .interactive .start {
		margin-bottom: 10px;
	}
	.main .interactive .start {
		font-size: 13px;
		padding: 3px 10px;
	}
}
@media (max-height: 340px) {
	.sidebar .list-group-item {
		padding: 8px 15px;
	}
	.main .typing {
		margin-bottom: 10px;
	}
	.main .typing .panel-heading {
		padding: 7px 15px;
	}
	.main .answer p {
		margin-bottom: 4px;
	}
}